@import url(reset.css);
@import url(header.css);
@import url(content.css);
@import url(footer.css);

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
p {
	margin: 0;
	padding: 0;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	position: relative;
}
.empty {
	width: 100%;
	position: relative;
	height: 170px;
}
/*PRELOADER STYLE*/
.wrapp__svg {
  width: 100%;
  height: 100%;
  background: #fff;
}
svg {
  display:block;
  width:258px;
  height:258px;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

.tree {
  fill: #4bcaff;
}

.circle-mask {
  transform-origin: 50% 90%;
  animation: scale 5s infinite ease-out;
}

@keyframes scale {
  0%, 100% {
    transform: scale(0.0);
  }
  7%, 90% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(1);
  }
}
